global-reset()
reset-html5()

// theme settings
$font-main = sans-serif
$font-monospace = monospace
$font-size = 16px
$color-background = #fff
$color-foreground = #333
$width = 860px
$margin = 30px
$color-theme = #37a

// layout
html, body
	background: $color-background
	color: $color-foreground
	font: $font-size/1.4 $font-main

a
	color: $color-theme
	&:hover
		color: darken($color-theme, 10)

p
	margin: ($margin / 2) 0

code
	font-family: $font-monospace

header, #contents, footer, .disclaimer
	margin: $margin auto
	width: $width

.disclaimer
	background: #fed
	padding: ($margin / 2) 0
	text-align: center
	color: #410

header
	border-bottom: 1px solid rgba(#000, .2)
	border-top: 1px solid rgba(#000, .2)
	height: 40px
	line-height: @height
	padding: ($margin / 2) 0
	position: relative

	h1
		font: bold $font-size + 7px $font-main
		color: $color-theme
		line-height: @height
		margin: 0 ($margin / 2) 0 0
		code
			font: bold $font-size + 7px $font-main
		&::after
			content: '(1) Manual Page'

	#actions
		position: absolute
		right: 0
		top: ($margin / 2)
		li
			display: inline-block
			margin: 0 0 0 ($margin / 2)

		#permalink
			font-weight: bold

		#refresh
			background-color: $color-theme
			border: 0
			color: #fff
			cursor: pointer
			font: bold $font-size/@height $font-main
			margin: 0
			padding: 0 ($margin / 2)
			&:hover
				background-color: darken($color-theme, 10)

#contents
	margin: $margin auto
	width: $width

	h1
		color: $color-theme
		font: bold $font-size + 5px $font-main
		text-transform: uppercase

	.block
		margin: $margin 0 $margin $margin

	#name
		.command-name
			font-family: $font-monospace
		.command-action
			&::before
				content: ' — '

	#synopsis
		font-family: $font-monospace

	#options
		dt
			font-family: $font-monospace
			font-weight: bold
			margin: ($margin / 2) 0 0 0
		dd
			margin: 0 0 0 $margin

	#see-also
		font-family: $font-monospace
		li
			display: inline
			&::after
				content: '(1), '
			&:last-child
				&::after
					content: '(1)'

footer
	border-top: 1px solid rgba(#000, .2)
	text-align: center

	p
		margin: ($margin / 2) 0 0 0
